<div class="container-fluid">

  <!--<div class="row-fluid">-->
    <!--<div class="span2">-->
      <!--&lt;!&ndash;Sidebar content&ndash;&gt;-->

      <!--Search: <input ng-model="query">-->
      <!--Sort by:-->
      <!--<select ng-model="orderProp">-->
        <!--<option value="name">Alphabetical</option>-->
        <!--<option value="age">Newest</option>-->
      <!--</select>-->

    <!--</div>-->
    <div class="span10">
      <!--Body content-->

      <!--<ul class="phones">-->
          <!--<h1>Progression</h1>-->
        <!--<li ng-repeat="phone in json | filter:query | orderBy:orderProp" class="thumbnail">-->
          <!--<a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.avatarURL}}"/></a>-->
          <!--<a href="#/phones/{{phone.id}}">{{phone.name}}</a>-->
          <!--<p>{{phone.snippet}}</p>-->
        <!--</li>-->
      <!--</ul>-->


        <!--<ul class="phones">-->
            <ul ng-repeat="level in levels" class="thumbnail">

                <li><a href="#/levelEdit/{{level.level}}">Level:{{level.level}} </a></li>
                <li>Threshold:{{level.threshold}}</li>
                <ul ng-repeat="reward in level.rewards">
                    <!--<p>{{reward.rewardType}}</p>-->
                    <!--<p>{{reward.amount}}</p>-->
                    <li>reward:{{reward.rewardType}} , amount:{{reward.amount}}</li>

                </ul>
                </br>
            </ul>
        <!--</ul>-->

    </div>
  </div>
</div>
