<div class="container-fluid" xmlns="http://www.w3.org/1999/html">

  <div class="span10">

      <form name = "searchSubmitter" ng-submit="searchServer()" ng-controller="SearchCtrl">
          Enter text and hit enter:
          <input type="text" ng-model="text" name="text" />


          <br>
          <input id="socialID" ng-model="myFlag" value="social" type="radio" name="group1">SocialID</input>
          <input id="nameLastName" ng-model="myFlag" value="name" type="radio" name="group1">By name</input></br>
          <input type="submit" id="submit" value="Submit" />
      </form>
    </div>
</div>


<!--<div class="tabbable">  Only required for left/right tabs 
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
        <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <p>I'm in Section 1.</p>
        </div>
        <div class="tab-pane" id="tab2">
            <p>Howdy, I'm in Section 2.</p>
        </div>
    </div>-->
