<div class="container-fluid">

    <!--<div class="row-fluid">-->
    <!--<div class="span2">-->
    <!--&lt;!&ndash;Sidebar content&ndash;&gt;-->

    <!--Search: <input ng-model="query">-->
    <!--Sort by:-->
    <!--<select ng-model="orderProp">-->
    <!--<option value="name">Alphabetical</option>-->
    <!--<option value="age">Newest</option>-->
    <!--</select>-->

    <!--</div>-->
    <!--    <div class="span10">-->

    <form ng-submit="update()" ng-controller="UserDetailCtrl">
            <div class="row">

            <div class="span4>">
                Genera222:
                <!--        <ul class="phones">-->
                <ul>
                    <li>Id:{{user.id}}</li>
                    <li>Name:<input type="text" ng-model="user.name"  value="user.name" required=""/></li>
                    <li><img ng-src="{{user.avatarURL}}"></a></li>

<!--                    <li>Virtual Balance:<input name="virtualBalance" id="virtualBalance" type="text" ng-model="user.general.virtualBalance" value="user.general.virtualBalance" required=""/></li>-->
                    
                    <li>Virtual Balance:{{user.general.virtualBalance}}</li>
                    <li>Real Balance:<input name = "realBalance" id = "realBalance" type="text" ng-model="user.general.realBalance" value="user.general.realBalance" required=""/></li>
                    <li>Global Level:{{user.general.level}}</li>
                    <li>XP:<input name = "generalXP" id = "generalXP" type="text" ng-model="user.general.xp" value="user.general.xp" required=""/></li>
                    <li>Winnings:{{user.general.winnings}}</li>
                    <li>Tier:{{user.general.tier}}</li>
                </ul>
            </div>


            <div class="span4>">    
                Blackjack:
                <li>Level:{{user.blackjack.level}}</li>
                <li>XP:<input id = "blackjackXP" name = "blackjackXP" type="text" ng-model="user.blackjack.xp" value="user.blackjack.xp" required=""/></li>
                <li>Winnings:{{user.blackjack.winnings}}</li>
                </ul>
            </div>

            <div class="span4>">
                Slots:
                <ul>
                    <li>Level:{{user.slots.level}}</li>
                    <li>XP:<input id = "slotsXP" name = "slotsXP" type="text" ng-model="user.slots.xp" value="user.slots.xp" required=""/></li>
                    <li>Winnings:{{user.slots.winnings}}</li>
                </ul>
            </div>

            <div class="span4>">
                Roulette:
                <lu>
                    <li>Level:{{user.roulette.level}}</li>
                    <li>XP:<input id = "rouletteXP" name = "rouletteXP" type="text" ng-model="user.roulette.xp" value="user.roulette.xp" required=""/></li>
                    <li>Winnings:{{user.roulette.winnings}}</li>
                    </ul>
                    <!--                <button ng-click="update(user.id,user.general.realBalance - realBalance.value,
                                            user.general.xp - generalXP.value,
                                            alert(user.blackjack.xp - deltaBlackjackXP.value),
                                            user.slots.xp - deltaSlotsXP.value,
                                            user.roulette.xp - deltaRouletteXP.value)">SAVE</button>-->


                    <button ng-click="log(realBalance.value)">SAVE</button>
                </lu>
            </div>
        </div>
    </form>

    <!--
                    <ul>Tier:{{user.general.tier}}</ul>
                    &lt;!&ndash;</ul>&ndash;&gt;

Blackjack:
&lt;!&ndash;<ul ng-repeat="blackjack in user.blackjack">&ndash;&gt;
<ul>Level:{{user.blackjack.level}}</ul>
<ul>Xp:{{user.blackjack.xp}}</ul>
<ul>Winnings:{{user.blackjack.winnings}}</ul>
&lt;!&ndash;</ul>&ndash;&gt;

Slots:
&lt;!&ndash;<ul ng-repeat="slots in user.slots">&ndash;&gt;
<ul>Level:{{user.slots.level}}</ul>
<ul>Xp:{{user.slots.xp}}</ul>
<ul>Winnings:{{user.slots.winnings}}</ul>
&lt;!&ndash;</ul>&ndash;&gt;

Roulette:
&lt;!&ndash;<ul ng-repeat="roulette in user.roulette">&ndash;&gt;
<ul>Level:{{user.roulette.level}}</ul>
<ul>Xp:{{user.roulette.xp}}</ul>
<ul>Winnings:{{user.roulette.winnings}}</ul>
&lt;!&ndash;</ul>&ndash;&gt;
    -->

    </br>
</li>
</ul>
</div>
</div>
</div>
